<footer class="site-footer">
  <div class="container">
    <div class="site-footer__navigation">
      <nav class="site-footer__navigation__primary-footer-nav">
        <ul class="primary-footer-navigation__list">
          <li class="primary-footer-navigation__list__item">
            <a href="/" class="primary-footer-navigation__list__item__inner">Companies</a>
          </li>
          <li class="primary-footer-navigation__list__item">
            <a class="primary-footer-navigation__list__item__inner" href="/non-industry-sponsors/">
              Non-industry Sponsors
            </a>
          </li>
        </ul>
      </nav>
      <nav class="site-footer__navigation__secondary-navigation">
        {% include navigation/companies-nav.html %}
      </nav>
    </div>
    <div class="site-footer__legal">
      <p class="site-footer__legal__copyright">&copy; AllTrials 2015</p>
      <nav class="site-footer__legal__navigation">
        <ul class="site-footer__legal__navigation__list">
          <li class="site-footer__legal__navigation__list__item">
            <a href="http://www.alltrials.net/privacy-policy/" class="site-footer__legal__navigation__list__item__inner">Privacy</a>
            <a href="http://www.alltrials.net/contact/" class="site-footer__legal__navigation__list__item__inner">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

