<footer class="site-footer">
  <div class="container">
    <div class="site-footer__navigation">
      <nav class="site-footer__navigation__secondary-navigation">
        {% include navigation/companies-nav.html %}
      </nav>
    </div>
    <div class="site-footer__legal">
      <p class="site-footer__legal__copyright">&copy; EBM DataLab, University of Oxford 2017</p>
      <nav class="site-footer__legal__navigation">
        <ul class="site-footer__legal__navigation__list">
          <li class="site-footer__legal__navigation__list__item">
            <a href="/contact/" class="site-footer__legal__navigation__list__item__inner">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
