<header class="site-header">
  <div class="site-header__primary">
    <div class="container">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
  </div>
  <div class="site-header__secondary">
    <div class="container">
      <nav>
        {% include navigation/companies-nav.html %}
      </nav>
      <a href="http://bmjopen.bmj.com/lookup/doi/10.1136/bmjopen-2017-019952" target="_blank" class="paper-download-button">Download the paper</a>
    </div>
  </div>
</header>
