---
layout: default
---
<div class="company">

  <div class="dark-header">
    <div class="container">
      <div class="dark-header__title-area">
        <p class="dark-header__subhead">
          How transparent are {{ page.trust['name'] }}&rsquo;s clinical trials?
        </p>
        <h1 class="dark-header__company-name">
          {{ page.trust['name'] }}
        </h1>
        <p class="dark-header__subhead">
          {{ page.trust['addr1'] }},
          {{ page.trust['addr2'] }},
          {{ page.trust['addr3'] }},
          {{ page.trust['city'] }},
          {{ page.trust['county'] }},
          {{ page.trust['postcode'] }}
        </p>
      </div>
      <div class="dark-header__search search-block search-block--dark">
        <form class="search-block__form">
          <label class="search-block__label" for="q">Find a trust</label>
          <input type="text" placeholder="Eg. Pfizer, Inc" class="search-block__text-input" name="q" id="q">
          <input type="submit" value="Search" class="search-block__submit" />
        </form>
      </div>

    </div>
  </div>

  <div class="company-body company-body--intro">
    <div class="container">

      <div class="company-body__section-one">
        <div class="chart-test">
        </div>
        <div class="score-breakdown">
          <div class="barchart barchart--simple">
            <span class="barchart__label">Responded on time</span>
            <span class="barchart__text-value"><strong>{{ page.scores['responded_on_time']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value barchart__value--ontime" style="width: 100%"></span>
            </div>
          </div>
          <div class="barchart barchart--simple">
            <span class="barchart__label">Sent a register</span>
            <span class="barchart__text-value"><strong>{{ page.scores['sent_a_register']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value barchart__value--register" style="width: 100%"></span>
            </div>
          </div>
          <div class="barchart barchart--simple">
            <span class="barchart__label">Complete data structure</span>
            <span class="barchart__text-value"><strong>{{ page.scores['complete_data_structure']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value barchart__value--structure" style="width: 100%"></span>
            </div>
          </div>
          <div class="barchart barchart--simple">
            <span class="barchart__label">Publicly acccessible</span>
            <span class="barchart__text-value"><strong>{{ page.scores['publically_accessible']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value  barchart__value--public" style="width: 100%"></span>
            </div>
          </div>
          <div class="barchart barchart--simple">
            <span class="barchart__label">Reusable format</span>
            <span class="barchart__text-value"><strong>{{ page.scores['reusable_format']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value  barchart__value--reusable" style="width: 100%"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="company-body__section-two">
        <div class="company-body__metrics">
          <div class="metrics__metric metric--transparency">
            <p class="metric__label">
              Transparency rank
            </p>
            <p class="metric__value">
              {{ page.scores['rank']|ordinal }}
            </p>
          </div>
        </div>

        <p class="intro">Executive summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a fringilla dui. Pellentesque ullamcorper, nisl at viverra luctus, mauris arcu maximus mi, et ullamcorper libero elit id tellus. </p>
      </div>

    </div>
  </div>

  <div class="company-body__tabs hide-if-no-javascript">
    <div class="container">
      <div class="tabs">
        <ul>
            <li><a href="#sources">Original source document</a></li>
            <li><a href="#data">Extracted information</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="company-body">
    <div class="container" id="js-company-tabs">
    {% if page.raw_data.figshare_id != '1' %}
      <div id="sources" class="company-body__tabs__item">
        <h2 class="hide-if-javascript">Sources</h2>

        <p>This is the original documentation we got back from the organisation in response to our FOI request.</p>
        <!-- you can extract the ID from the DOI -->
        <iframe src="https://widgets.figshare.com/articles/{{page.raw_data.figshare_id}}/embed?show_title=1" width="568" height="351" frameborder="0"></iframe>
      </div>
      <div id="data" class="company-body__tabs__item">
        <h2 class="hide-if-javascript">Questions and answers</h2>
        <p>Here is all the structured data we extracted from the organisation's response to our FOI request, if any.</p>
        <dl class="results-breakdown">
          {% for q in page.raw_data_questions %}
           {% assign qid = q[0] %}
           {% if qid != 'number' and qid != 'trust' %}
            <dt>{{ q[1] }}</dt>
            <dd>{{ page.raw_data[qid]|yesno }}</dd>
           {% endif %}
          {% endfor %}
        </dl>
      </div>
    {% else %}
      <h2>This Trust did not respond to our FOI request.</h2>
    {% endif %}
    </div>
  </div>
</div>

<script>
  var AllTrials = window.AllTrials || {};
  AllTrials.trust = {{ page.scores | jsonify }};
</script>
