---
layout: default
---
<div class="company">

  <div class="dark-header">
    <div class="container">
      <div class="dark-header__title-area">
        <p class="dark-header__subhead">
          What do the conflict of interest disclosures for {{ page.trust['name'] }} look like?
        </p>
        <h1 class="dark-header__company-name">
          {{ page.trust['name'] }}
        </h1>
        <p class="dark-header__subhead">
          {{ page.trust['addr1'] }},
          {{ page.trust['addr2'] }},
          {{ page.trust['addr3'] }},
          {{ page.trust['city'] }},
          {{ page.trust['county'] }},
          {{ page.trust['postcode'] }}
        </p>
      </div>
      <div class="dark-header__search search-block search-block--dark">
        <form class="search-block__form">
          <label class="search-block__label" for="q">Find a trust</label>
          <input type="text" placeholder="Eg. Pfizer, Inc" class="search-block__text-input" name="q" id="q">
          <input type="submit" value="Search" class="search-block__submit" />
        </form>
      </div>

    </div>
  </div>

  <div class="company-body company-body--intro">
    <div class="container">

      <div class="company-body__section-one">
        <div class="chart-test">
        </div>
        <div class="score-breakdown">
          <div class="barchart barchart--simple">
            <span class="barchart__label"><span class="tip" data-tip="Did the Trust respond to the FoIA request within 20 working days, as mandated by law?"><span class="fas fa-info-circle"></span></span> Responded on time</span>
            <span class="barchart__text-value"><strong>{{ page.scores['responded_on_time']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value barchart__value--ontime" style="width: 100%"></span>
            </div>
          </div>
          <div class="barchart barchart--simple">
            <span class="barchart__label"><span class="tip" data-tip="Did the Trust send a register at all?"><span class="fas fa-info-circle"></span></span> Sent a register</span>
            <span class="barchart__text-value"><strong>{{ page.scores['sent_a_register']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value barchart__value--register" style="width: 100%"></span>
            </div>
          </div>
          <div class="barchart barchart--simple">
            <span class="barchart__label"><span class="tip" data-tip="Does the register contain at least the name of the recipient, the name of the donor, and the cash amount for each disclosure?"><span class="fas fa-info-circle"></span></span> Complete data structure</span>
            <span class="barchart__text-value"><strong>{{ page.scores['complete_data_structure']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value barchart__value--structure" style="width: 100%"></span>
            </div>
          </div>
          <div class="barchart barchart--simple">
            <span class="barchart__label"><span class="tip" data-tip="Was the register publicly available online at the time of the request?"><span class="fas fa-info-circle"></span></span> Publicly acccessible</span>
            <span class="barchart__text-value"><strong>{{ page.scores['publically_accessible']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value  barchart__value--public" style="width: 100%"></span>
            </div>
          </div>
          <div class="barchart barchart--simple">
            <span class="barchart__label"><span class="tip" data-tip="Was the information provided in a format, such as a spreadsheet, that could be used for further analysis?"><span class="fas fa-info-circle"></span></span> Reusable format</span>
            <span class="barchart__text-value"><strong>{{ page.scores['reusable_format']|yesno }}</strong></span>
            <div class="barchart__draw">
              <span class="barchart__value  barchart__value--reusable" style="width: 100%"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="company-body__section-two">
        <div class="company-body__metrics">
          <div class="metrics__metric metric--transparency">
            <p class="metric__label">
              Transparency rank
            </p>
            <p class="metric__value">
              {{ page.scores['rank'] }}
            </p>
          </div>
        </div>

        <p class="intro">
          {{ page.trust['name'] }} achieved a transparency score of {{ page.scores['percentage'] }}%. This placed them {{ page.scores['rank'] }} within all Trusts in England. </p>
        <p>Based on this score it is <strong>
          {% if page.scores['percentage'] >= 80 %}
            likely
          {% else if page.scores['percentage'] >= 60 %}
            somewhat likely
          {% else if page.scores['percentage'] >= 40 %}
            unlikely
          {% else if page.scores['percentage'] >= 20 %}
            very unlikely
          {% else page.scores['percentage'] >= 80 %}
            impossible
          {% endif %} </strong> you could find out about potential conflicts of interest held by the people who are treating you.
        </p>
      </div>

    </div>
  </div>

  <div class="company-body__tabs hide-if-no-javascript">
    <div class="container">
      <div class="tabs">
        <ul>
          {% if page.raw_data.figshare_id != '1' %}
            <li><a href="#sources">Original source document</a></li>
          {% endif %}
            <li><a href="#data">Extracted information</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="company-body">
    <div class="container" id="js-company-tabs">
    {% if page.raw_data.figshare_id != '1' %}
      <div id="sources" class="company-body__tabs__item">
        <h2 class="hide-if-javascript">Sources</h2>

        <p>This is the original documentation we got back from the organisation in response to our FOI request.</p>
        <!-- you can extract the ID from the DOI -->
        <iframe src="https://widgets.figshare.com/articles/{{page.raw_data.figshare_id}}/embed?show_title=1" width="100%" height="800px" frameborder="0"></iframe>
      </div>
      {% endif %}
      <div id="data" class="company-body__tabs__item">
        <h2 class="hide-if-javascript">Questions and answers</h2>
        <p>Here is all the structured data we extracted from the organisation's response to our FOI request, if any.</p>
        <dl class="results-breakdown">
          {% for q in page.raw_data_questions %}
           {% assign qid = q[0] %}
           {% if qid != 'number' and qid != 'trust' %}
            <dt>{{ q[1] }}</dt>
            <dd>{{ page.raw_data[qid]|yesno }}</dd>
           {% endif %}
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
</div>

<script>
  var AllTrials = window.AllTrials || {};
  AllTrials.trust = {{ page.scores | jsonify }};
</script>
